/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html {
    scroll-behavior: smooth;
}

.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f7f2;
}

/* Навигация */
.navbar {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: rgba(255, 255, 255);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 100;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-link {
    display: block;
    text-decoration: none;
}

.logo-img {
    height: 50px;
    width: auto;
    object-fit: contain;
    transition: height 0.3s ease;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: 16px;
}

.nav-link {
    margin-left: 20px;
}

.nav-item {
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.nav-item:hover {
    color: #003366;
    text-decoration-line: underline;
}


.hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url('images/hero-back.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.map {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.20);
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 50px;
    background: #003366;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #022a52;
}

.container {
    padding: 60px;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: #003366;
}

.card-grid {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;

}

.card {
    background: #fff;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card-image {
    height: 200px;
    background-color: #e3e3e3;
    background-size: cover;
}

.img-1 {
    background-image: url('images/img-1.jpg');
}

.img-2 {
    background-image: url('images/img-2.jpg');
}

.img-3 {
    background-image: url('images/img-3.jpg');
}

.img-4 {
    background-image: url('images/img-4.jpg');
}

.img-5 {
    background-image: url('images/img-5.jpg');
}

.img-6 {
    background-image: url('images/img-6.webp');
}

.img-7 {
    background-image: url('images/img-7.jpg');
}

.img-8 {
    background-image: url('images/img-8.webp');
}

.img-9 {
    background-image: url('images/img-9.png')
}

.card-body {
    padding: 20px;
}

.card-body h3 {
    margin-bottom: 10px;
    color: #003366;
}


.info-section {
    padding: 80px 10%;
    background-color: #f9f7f2;
}


.info-section.alternate {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 30px;
}

.info-container {
    display: flex;
    align-items: center;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.info-text {
    flex: 1;
}

.section-subtitle {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #888;
    margin-bottom: 10px;
    font-weight: bold;
}

.info-text h2 {
    font-size: 2.5rem;
    color: #003366;
    margin-bottom: 20px;
    font-family: 'Georgia', serif;
}

.info-text p {
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: #555;
    text-align: justify;
}

.info-image {
    flex: 1;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
}

/* Блок примеров внутри секции */
.examples-container {
    margin-top: 40px;
    border-top: 1px solid #e0e0e0;
    padding-top: 40px;
}

.examples-grid {
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.example-item {
    flex: 1;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
}

.example-item:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.example-img {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid #003366;
}

.ex-1 {
    background-image: url('images/ex-1.jpg');
}

.ex-2 {
    background-image: url('images/ex-2.webp');
}

.ex-3 {
    background-image: url('images/ex-3.jpg');
}

.ex-4 {
    background-image: url('images/ex-4.webp');
}

.ex-5 {
    background-image: url('images/ex-5.jpg');
}

.ex-6 {
    background-image: url('images/ex-6.jpg');
}

.ex-7 {
    background-image: url('images/img7.png');
}

.ex-8 {
    background-image: url('images/img8.png');
}

.ex-9 {
    background-image: url('images/img9.png');
}

.example-info {
    padding: 20px;
}

.example-info h4 {
    color: #003366;
    margin-bottom: 5px;
}

.example-info .author {
    display: block;
    font-style: italic;
    font-size: 0.9rem;
    color: #7f8c8d;
    margin-bottom: 15px;
}

.example-info p {
    font-size: 0.95rem;
    line-height: 1.5;
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    margin-top: 60px;
}

.footer-nav {
    display: flex;
    list-style: none;
    gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
}

.footer-link {
    color: #fff;
}

.footer-link:hover {
    text-decoration: underline;
}